body {
	padding: 0px;
	margin: 0px;
	background-image: url('../img/bg_bledo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
	font-family: Arial;
}

table#content {
	background: rgba(221, 221, 221, 0.4);
	border: 1px solid grey;
	padding: 15px;
	padding-right: 25px;
	border-spacing: 0px;
}

table#content td {
	border: 0px;
	padding: 3px;
	font-size: 13px;
}

table#content td a:link {
	text-decoration: none;
}

table.parameter {
	width: 95%;
	border-spacing: 0px;
	padding: 0px;
	margin-left: 20px;
	border: 1px solid #d2d2d2;
	border-radius: 10px;
	box-shadow: 6px 6px 7px #ccc;
	-moz-box-shadow: 6px 6px 7px #ccc;
	-webkit-box-shadow: 6px 6px 7px #ccc;
	background: rgba(221, 221, 221, 0.4);
}

table.parameter td, table.parameter th {
	padding: 10px;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

table.parameter th.first, table.parameter th+ th+ th {
	width: 10%;
}

p, table {
	padding-left: 20px;
}

a:visited {
	color: blue;
}

h3 {
	border-top: 2px solid black;
	margin-top: 50px;
	padding-top: 10px;
	margin-bottom: 30px;
}

div.overlay {
	padding: 30px;
	background: rgba(238, 238, 238, 0.6);
}

p.back-top {
	text-align: right;
	font-size: 13px;
}

b {
	color: blue;
}