.container{
	margin: auto;
	width:100%;
	margin-bottom: 120px;
}

#calendar{
	overflow: none;
	font-family: arial;
	font-size: 14px;
	margin: auto;
	margin-bottom: 20px;
	left: 240px;
	width: 60%;
	min-width: 500px;
}

img {
	border: 0px;
}

div.qtip{
	font-family: "Arial";
	font-size: 14px;
}

/**{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}*/