/* Dock */
#dock {
	padding-top: 0px;
	margin: auto;
	clear: both;
	width: 100%;
	text-align: center;
	overflow: hidden;
}

#dock ul {
	margin: auto auto;
	padding: 0px;
	list-style: none;
	height: 130px;
	text-align: center;
	white-space: nowrap;
	display: inline-block;
}


/* Dock Icons */
#dock li {
	display: inline-block;
	vertical-align: bottom;
	margin: 0px;
	padding: 0px 7px;
	position: relative;
	overflow: visible;
}

#dock li a {
	height: 55px;
	display: inline-block;
	text-align: center;
	position: relative;
	vertical-align: bottom;
	text-decoration: none;
	color: black;
	white-space: normal;
	letter-spacing: normal;	
	line-height: 1.3em;
	text-align: center;
	font-family: Arial;
	padding-top: 45px;
	margin-bottom: 5px;
	overflow: visible;
}

#dock li a span {
	position: relative;
	line-height: 1.3em;
	display: none;
	text-align: center;
	font-weight: bold;
	font-size: 80%;
	padding: 4px 8px;
	background-color: #B8B9BB;
	vertical-align: top;
	
	opacity: 0.8;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	
	margin: -5px -30px;
	
	top: -40px;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#dock li a:hover span {
	display: block;
}

#dock li a:hover span:after {
	display: block;
	color: transparent;
	position: absolute;
	content: "";
}

#dock li a img {
	min-width: 30px;
	height: auto;
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 5px;

	box-reflect: below 1px gradient(linear, left top, left bottom, from(transparent), color-stop(0.6, transparent), to(rgba(255,255,255,0.1)));
	-webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.6, transparent), to(rgba(255,255,255,0.1)));
	-moz-box-reflect: below 1px -moz-gradient(linear, left top, left bottom, from(transparent), color-stop(0.6, transparent), to(rgba(255,255,255,0.1)));
}