footer{
	width: 100%;
	min-width: 720px;
	margin: auto;
	margin-bottom: 0px;
	height:20px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter: alpha(opacity=8);
	background-color:#B8B9BB;
	font-family:'Arial';
	font-size: 12px;
	padding-bottom: 10px;
	padding-top: 20px;
}

#footer-div img{
    height: 45px;
    float: left;
    margin-top: -18px;
}

#footer-div{
    width: 200px;
    margin:auto;
}