@charset "utf-8";

body{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	position:center;
	background-image:url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
}

#logo{
	width: 70%;
	min-width: 600px;
	margin: auto;
	margin-bottom: 0px;
	margin-top: -2px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	background-color: #B8B9BB;
	padding-left: 20px;
}

div.logininfo{
	font: 11px arial,helvetica,clean,sans-serif;
	float: right;
	clear: both;
	margin-top: 10px;
	margin-right: 5%;
}

span.topLogin, span.botLogin{
	float: right;
	clear: both;
	padding-top: 2px;
}