	#login:hover{
	    opacity: 0.9;
	}
	#login{
		width: 122px;
		float: right;
		clear: both;
		margin-top: 15px;
		margin-right: 5%;
		margin-bottom: -10px;
		padding: 5px 0px;
		border-radius: 5px;
		background: rgb(85,85,85);
		background-image: linear-gradient(bottom, rgb(85,85,85) 39%, rgb(102,102,102) 96%, rgb(119,119,119) 72%);
		background-image: -o-linear-gradient(bottom, rgb(85,85,85) 39%, rgb(102,102,102) 96%, rgb(119,119,119) 72%);
		background-image: -moz-linear-gradient(bottom, rgb(85,85,85) 39%, rgb(102,102,102) 96%, rgb(119,119,119) 72%);
		background-image: -webkit-linear-gradient(bottom, rgb(85,85,85) 39%, rgb(102,102,102) 96%, rgb(119,119,119) 72%);
		background-image: -ms-linear-gradient(bottom, rgb(85,85,85) 39%, rgb(102,102,102) 96%, rgb(119,119,119) 72%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.39, rgb(85,85,85)),
			color-stop(0.96, rgb(102,102,102)),
			color-stop(0.72, rgb(119,119,119))
		);
		filter: progid:DXImageTransform.Microsoft.gradient( 
			startColorstr='#555555', endColorstr='#555555',GradientType=1 
		);
		border: 1px solid #454545;
	}
	
	#login a{
		position: relative;
		padding: 5px 40px;;
		border-radius: 5px;
		text-decoration: none;
		font-family: arial;
		color: #eee;
		font-weight: bold;
		background: rgb(85,85,85);
		background-image: linear-gradient(bottom, rgb(85,85,85) 39%, rgb(102,102,102) 96%, rgb(119,119,119) 72%);
		background-image: -o-linear-gradient(bottom, rgb(85,85,85) 39%, rgb(102,102,102) 96%, rgb(119,119,119) 72%);
		background-image: -moz-linear-gradient(bottom, rgb(85,85,85) 39%, rgb(102,102,102) 96%, rgb(119,119,119) 72%);
		background-image: -webkit-linear-gradient(bottom, rgb(85,85,85) 39%, rgb(102,102,102) 96%, rgb(119,119,119) 72%);
		background-image: -ms-linear-gradient(bottom, rgb(85,85,85) 39%, rgb(102,102,102) 96%, rgb(119,119,119) 72%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.39, rgb(85,85,85)),
			color-stop(0.96, rgb(102,102,102)),
			color-stop(0.72, rgb(119,119,119))
		);
		filter: progid:DXImageTransform.Microsoft.gradient( 
			startColorstr='#555555', endColorstr='#555555',GradientType=1 
		);
	}