body{
	background-color: #fafafa;
}
#mail-container{
	width: 1000px; 
	height: 450px; 
	border: 1px solid #e4e4e4;
	padding: 10px;
	padding-top: 0px;
	margin: auto;
	margin-top: 50px;
	background-color: #f0f0f0;
	color: #777;
}
#mail-container *{
	margin: 10px;
}
label{
	float: left;
	clear: left;
	width: 80px;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding-top: 2px;
}
input, textarea{
	float: left;
	clear: right;
	width: 80%;
}
textarea{
	height: 240px;
}
#to, #subject{
	color: gray;
}
#submit{
	background-color: #D64937;
	width: 65px;
	height: 27px;
	color: white;
	font-size: 10px;
	font-weight: bold;
	margin-left: 7px;
	border: 0px;
	cursor: hand;
	cursor: pointer;
}