html {
	width: 100%;
	height: 100%;
	padding: 0px;
	background: #F9F9F9;
	color: #515151;
	font-family: helvetica,clean,sans-serif;
	overflow-y: scroll;
}
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	min-width: 1340px;
}

::selection {
	background: #96bbde; /* Safari */
}
::-moz-selection {
	background: #96bbde; /* Firefox */
}

img {
	border: 0px;
}

div#nav {
	margin: auto;
	position: inherit;
	text-align: center;
	float: left;
	clear: both;
	bottom: 5%;
	width: 18%;
	padding: 1%;
	margin-top: 50px;
}

div#nav a {
	position: relative;
	display: inline-block;
	padding: 3px;
	bottom: 0px;
	width: 20%;
}
div#nav a:hover {
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.61) 46%, rgba(255,255,255,0) 70%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(46%,rgba(255,255,255,0.61)), color-stop(70%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.61) 46%,rgba(255,255,255,0) 70%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.61) 46%,rgba(255,255,255,0) 70%,rgba(255,255,255,0) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.61) 46%,rgba(255,255,255,0) 70%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.61) 46%,rgba(255,255,255,0) 70%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

div#nav img {
	width: 40px;
	height: 42px;
}

ul.navigation li {
	list-style: none;
	border-radius: 4px 0px 0px 4px;
	position: relative;
	float: left;
	overflow: visible;
	display: block;
	width: 101%;
	height: 50px;
	margin-right: 0px;
	margin-top: 3px;
	padding-right: 0px;
}

ul.navigation li a {
	/* MAKE NAV BUTTONS NON-SELECTABLE */
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	/* ******************************* */
	text-decoration: none;
	display: block;
	top: 50%;
	padding: 15px 17px;
	color: #3d3d3d;
	text-shadow: 1px 1px 2px #A9A9A9;
	font-size: 18px;
}
li.selected-option {
	list-style: none;
	border-radius: 4px 0px 0px 4px;
	float: left;
	display: block;
	width: 100%;
	height: 50px;
	margin-right: 0px;
	padding-right: 0px;
	background: #39b5ce; /* Old browsers */
	background: -moz-linear-gradient(top,  #39b5ce 1%, #2e86d3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#39b5ce), color-stop(100%,#2e86d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #39b5ce 1%,#2e86d3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #39b5ce 1%,#2e86d3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #39b5ce 1%,#2e86d3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #39b5ce 1%,#2e86d3 100%); /* W3C */
	filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#39b5ce', endColorstr='#2e86d3',GradientType=0 ); /* IE6-9 */
}

span.arrow {
    z-index: -1;
    overflow: hidden;
    border-radius: 5px 0px 5px 4px;
    display: block;
    position: absolute;
    top: 6px;
    right: -18px;
    width: 38px;
    height: 38px;
    transform: rotate(225deg);
    -ms-transform: rotate(225deg); /* IE 9 */
    -moz-transform: rotate(225deg); /* Firefox */
    -webkit-transform: rotate(225deg); /* Safari and Chrome */
    -o-transform: rotate(225deg); /* Opera */
    background: #39b5ce; /* Old browsers */
    background: -moz-linear-gradient(315deg,  #39b5ce 0%, #2e86d3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#39b5ce), color-stop(100%,#2e86d3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(315deg,  #39b5ce 0%,#2e86d3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(315deg,  #39b5ce 0%,#2e86d3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(315deg,  #39b5ce 0%,#2e86d3 100%); /* IE10+ */
    background: linear-gradient(315deg,  #39b5ce 0%,#2e86d3 100%); /* W3C */
    filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#39b5ce', endColorstr='#2e86d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

ul.navigation {
	margin-right: 0px;
	display: table;
	width: 100%;
	padding: 0px;
	margin: 0px;
	float: left;
	clear: both;
}

ul.navigation li.selected-option a {
	text-decoration: none;
	display: block;
	top: 50%;
	margin-left: 10px;
	text-shadow: 1px 1px 2px #000;
	color: #FFFFFF;
	font-size: 18px;
}

div#navigation {
	/*border-radius: 5px;*/
	float: left;
	display: block;
	overflow: visible;
	width: 20%;
	height: 100%;
	min-height: 640px;
	margin-right: 0px;
	padding-right: 2px;
	padding-top: 0px;
	padding-left: 5px;
	position: fixed;
	/*  BACKGROUND  */

	background: rgb(226,226,226); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(226,226,226,1) 0%, rgba(226,226,226,1) 72%, rgba(240,240,240,1) 98%, rgba(255,255,255,1) 99%, rgba(170,170,170,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(226,226,226,1)), color-stop(72%,rgba(226,226,226,1)), color-stop(98%,rgba(240,240,240,1)), color-stop(99%,rgba(255,255,255,1)), color-stop(100%,rgba(170,170,170,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(226,226,226,1) 0%,rgba(226,226,226,1) 72%,rgba(240,240,240,1) 98%,rgba(255,255,255,1) 99%,rgba(170,170,170,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(226,226,226,1) 0%,rgba(226,226,226,1) 72%,rgba(240,240,240,1) 98%,rgba(255,255,255,1) 99%,rgba(170,170,170,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(226,226,226,1) 0%,rgba(226,226,226,1) 72%,rgba(240,240,240,1) 98%,rgba(255,255,255,1) 99%,rgba(170,170,170,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(226,226,226,1) 0%,rgba(226,226,226,1) 72%,rgba(240,240,240,1) 98%,rgba(255,255,255,1) 99%,rgba(170,170,170,1) 100%); /* W3C */
	filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#aaaaaa',GradientType=1 ); /* IE6-9 */
	/*background: #d9d9d9;*/

}

div.primarytab{
	padding-bottom: 30px;
}

.hidden {
	display: none;
}

div.content {
	margin-left: 0px;
	float: right;
	width: 80%;
	padding-top: 20px;
	padding-right: 0px;
	height: 200px;
}

span.nav-title {
	margin-top: 60px;
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	font-size: 23px;
	color: #3d3d3d;
	font-weight: bold;
}
span.nav-title img {
	margin-right: 7px;
	margin-bottom: -3px;
}

span.title {
	display: block;
	width: 97.5%;
	height: 30px;
	text-align: left;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-top: 10px;
	margin-bottom: 40px;
	margin-left: -4px;
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #e0e0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f9f9 0%,#e0e0e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#e0e0e0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9f9f9 0%,#e0e0e0 100%); /* W3C */
	filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */

	border-bottom: 1px solid #CCC;
	font-size: 25px;
	color: #515151;
	font-weight: bold;
}

a.tab {
	display: block;
	position: absolute;
	font-weight: bold;
	text-decoration: none;
	margin-left: 15%;
	margin-top: -74px;
	width: 12%;
	height: 34px;
	text-align: center;
	color: #3D3D3D;
	text-shadow: 1px 1px 2px darkGray;
}

a.tab2 {
	margin-left: 28%;
}

a.tab3 {
	margin-left: 41%;
}

a.tab4 {
	margin-left: 54%;
}

div.tab2-title {
	margin-top: 7px;
}

a.selected-suboption {
	border-radius: 3px;
	background: #39b5ce; /* Old browsers */
	background: -moz-linear-gradient(top,  #39b5ce 0%, #2e86d3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#39b5ce), color-stop(100%,#2e86d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #39b5ce 0%,#2e86d3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #39b5ce 0%,#2e86d3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #39b5ce 0%,#2e86d3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #39b5ce 0%,#2e86d3 100%); /* W3C */
	filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#39b5ce', endColorstr='#2e86d3',GradientType=0 ); /* IE6-9 */
	text-shadow: 1px 1px 2px black;
	color: white;
}

li.group-entry {
	margin-top: 12px;
	margin-left: 20px;
	list-style: none;
	height: 24px;
	width: 95%;
	border-bottom: 1px solid #9a9a9a;
}

li.group-entry div.name {
	float: left;
	font-size: 17px;
	margin-left: 10px;
}

li.group-entry div.operations {
	float: right;
	padding-right: 20px;
}

/* GROUP OPTIONS */
div.operations div {
	margin-left: 10px;
}
div.operations div:hover, .delete{
	cursor: hand;
	cursor: pointer;
}
div.operations div.div.deletegroup {
	float: left;
	background: url("../img/icons/trashcan.png");
	width: 16px;
	height: 16px;
}
div.operations div.deletegroup:hover {
	background: url("../img/icons/trashcan-down.png");
}

div.operations div.unsubscribe {
	float: left;
	background: url("../img/icons/arrow-right.png");
	width: 16px;
	height: 16px;
}
div.operations div.unsubscribe:hover {
	background: url("../img/icons/arrow-right-down.png");
}

div.operations div.subscribe {
	float: left;
	background: url("../img/icons/users.png");
	width: 16px;
	height: 16px;
}
div.operations div.subscribe:hover {
	background: url("../img/icons/users-down.png");
}

div.operations div.details {
	float: left;
	background: url("../img/icons/notes.png");
	width: 16px;
	height: 16px;
}
div.operations div.details:hover {
	background: url("../img/icons/notes-down.png");
}

div.delete,span.delete {
	float: left;
	background: url("../img/icons/trashcan.png");
	width: 16px;
	height: 16px;
}

div.delete:hover,span.delete:hover {
	background: url("../img/icons/trashcan-down.png");
}

div.operations div.pending {
	float: left;
	background: url("../img/icons/sent.png");
	width: 16px;
	height: 16px;
}

div.operations div.mygroup {
	float: left;
	background: url("../img/icons/house.png");
	width: 16px;
	height: 16px;
}

div.operations div.force-subscribe {
	float: left;
	background: url("../img/icons/check.png");
	width: 16px;
	height: 16px;
}

div.operations div.force-subscribe:hover {
	float: left;
	background: url("../img/icons/check-down.png");
	width: 16px;
	height: 16px;
}
div.operations div.accept {
	float: left;
	background: url("../img/icons/check.png");
	width: 16px;
	height: 16px;
}

div.operations div.accept:hover {
	float: left;
	background: url("../img/icons/check-down.png");
	width: 16px;
	height: 16px;
}
div.operations div.refuse {
	float: left;
	background: url("../img/icons/cross.png");
	width: 16px;
	height: 16px;
}

div.operations div.refuse:hover {
	float: left;
	background: url("../img/icons/cross-down.png");
	width: 16px;
	height: 16px;
}
div.operations div.remove {
	float: left;
	background: url("../img/icons/cross.png");
	width: 16px;
	height: 16px;
}

div.operations div.remove:hover {
	float: left;
	background: url("../img/icons/cross-down.png");
	width: 16px;
	height: 16px;
}

ul.userlist div.operations {
	float: right;
}


ul.details-list {
	display: table;
	width: 100%;
	padding: 10px 0px;
}

ul.details-list > li {
	margin: 0px;
	padding: 5px 0px;
	display: inline-block;
	margin-bottom: 8px;
	border-radius: 5px;
	background: #F1F1F1;
	width: 100%;
}

ul.details-list > li > div {
	margin: 0px 5px;
}

ul.details-list ul.table-list {
	width: 100%;
	display: table;
	padding: 0px;
}

ul.table-list {
	width: 90%;
	display: table;
	padding: 0px;
	margin: auto;
	margin-bottom: -5px;
	border: 2px solid #ddd;
	border-radius: 10px;
}

 div.empty-list {
 	text-align: center;
 	margin-top: 22%;
 	opacity: 0.4;
 	font-size: 24px;
 	font-style: oblique;
 }
 
li.list-header, li.list-header-admin {
	text-align: left;
	display: block;
	width: 100%;
	padding: 0px;
	height: 40px;
	border-top: 1px solid #CCC;
	border-radius: 5px 5px 0px 0px;
	background: url('../img/fabric_plaid.png');
}

li.list-row:hover, li.list-row-admin:hover {
	background-color: #D2DFF7;
}

ul.details-list li.list-header, ul.details-list li.list-header-admin {
	text-align: left;
	display: block;
	width: 100%;
	padding: 0px;
	height: 40px;
	background: url('../img/fabric_plaid.png');
}

li.list-header > div {
	width: 33.2%;
	margin: 0px auto;
	padding: 0px;
	height: 100%;
	float: left;
	position: relative;
}
li.list-header-admin > div {
	width: 24.9%;
	margin: 0px auto;
	padding: 0px;
	height: 100%;
	float: left;
	position: relative;
}

li.list-header div span, li.list-header-admin div span {
	margin-left: 20px;
	position: absolute;
	top: 50%;
	color: #888;
	margin-top: -9px;
	font-size: 17px;
}

li.list-header div  div, li.list-header-admin div  div {
	border-left: 1px solid #D2D2D2;
}

ul.details-list li.list-row, ul.details-list li.list-row-admin {
	text-align: left;
	display: block;
	width: 100%;
	padding: 0px;
	height: 30px;
	background: #F2F2F2;
}

li.list-row, li.list-row-admin {
	text-align: left;
	display: block;
	width: 100%;
	padding: 0px;
	height: 35px;
	border-bottom: 1px solid #D2D2D2;
	background: #F4F4F4;
}

li.list-row > div {
	width: 33.2%;
	margin: 0px auto;
	padding: 0px;
	height: 100%;
	float: left;
	position: relative;
}
li.list-row-admin > div {
	width: 24.9%;
	margin: 0px auto;
	padding: 0px;
	height: 100%;
	float: left;
	position: relative;
}

li.list-row div span, li.list-row-admin div span {
	margin-left: 20px;
	position: absolute;
	top: 50%;
	color: #777;
	margin-top: -7px;
	font-size: 15px;
}

li.list-row div  div, li.list-row-admin div  div {
	border-left: 1px solid #D2D2D2;
}

ul li div span select {
	margin-top: -5px;
}

ul.details-list ul {
	background: #E8F4FB;
	display: table;
	border-radius: 0px 0px 5px 5px;
	width: 100%;
	padding: 0px 10px;
}

ul.details-list ul li {
	padding: 10px;
	display: inline-block;
	width: 100%;
}

ul.details-list div.field-name {
	display: block;
	float: left;
	font-size: 17px;
}

ul.details-list div.field-value {
	display: block;
	float: right;
	color: #888;
	font-size: 18px;
}

div.arrow-down {
	font-size: 7px;
	transform: scaleX(2.5);
	-webkit-transform: scaleX(2.5);
	-ms-transform: scaleX(2.5);
	-moz-transform: scaleX(2.5); /* Firefox */
	-o-transform: scaleX(2.5); /* Opera */
	float: right;
	margin-top: 17px;
	margin-right: 20px;
}

li.room > div {
	width: 46%;
}

ul.table-list > li.admin-events > div.event-name {
	width: 22%;
}

ul.table-list > li.admin-events > div.event-delete {
	width: 5%;
}

ul.table-list div.room-delete {
	width: 5%;
}

li.admin-events > div {
	width: 18%;
}


div#overlay {
	position: fixed;
	top: 70px;
	background: rgba(210, 210, 210, 0.8);
	border-radius: 5px;
	width: 800px;
	left: 50%;
	margin-left: -400px;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 0px 0px 20px #666;
}

div#overlay-content {
	height: 100%;
	min-height: 294px;
	max-height: 600px;
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	background: #FBFBFB;
}

div.tabs {
	width: 100%;
}

div.tabs a {
	display: block;
	float: left;
	width: 32%;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	padding: 6px 2px;
	margin: 1px;
	border-radius: 3px;
	color: #333;
	text-shadow: 1px 1px 2px darkGray;
}

div.tabs a.selected {
	color: #FFF;
	background-color: #409fd1;
	background: -moz-linear-gradient(top, #39B5CE 0%, #2E86D3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#39B5CE), color-stop(100%,#2E86D3));
	background: -webkit-linear-gradient(top, #39B5CE 0%,#2E86D3 100%);
	background: -o-linear-gradient(top, #39B5CE 0%,#2E86D3 100%);
	background: -ms-linear-gradient(top, #39B5CE 0%,#2E86D3 100%);
	background: linear-gradient(to bottom, #39B5CE 0%,#2E86D3 100%);
	filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#39b5ce', endColorstr='#2e86d3',GradientType=0 );
	text-shadow: 1px 1px 2px black;
}

div#cross {
	float: right;
	margin-top: 15px;
	margin-right: 15px;
	background: url("../img/icons/cross.png");
	width: 16px;
	height: 16px;
}

div#cross:hover {
	background: url("../img/icons/cross-down.png");
}

div.empty-list {
	text-align: center;
	margin-top: 22%;
	opacity: 0.4;
	font-size: 24px;
	font-style: oblique;
}

.search {
	float: right;
	clear: both;
	color: #111;
	margin-top: -75px;
	margin-right: 20px;
}

.search input[type="text"] {
	float: right;
	background: url(../img/icons/search-white.png) no-repeat 10px 6px #fbfbfb;
	border: 1px solid #d1d1d1;
	font: bold 12px arial,helvetica,clean,sans-serif;
	color: #777;
	width: 150px;
	padding: 6px 15px 6px 35px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
}

.search input[type="text"]:focus {
	width: 200px;
}

.tiny input[type="text"] {
	width: 80px;
}
.tiny input[type="text"]:focus {
	width: 90px;
}
/* EVENTS MANAGEMENT */

input[type="button"] {
	margin-left: 50px;
	margin-bottom: 30px;
	height: 30px;
	min-width: 150px;
	font-weight: bold;
	color: #666;
}

ul.userlist {
	margin-top: 40px;
	margin-left: -20px;
	margin-right: 20px;
	list-style-type: none;
	font-weight: bold;
	color: #515151;
}
ul.userlist li {
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	height: 18px;
	text-align: left;
	border-bottom: 1px solid #9A9A9A;
}

ul.userlist div.name {
	float: left;
	width: 500px;
}

form.overlayed {
	margin-top: -30px;
}

button.button-left {
	float:right;
	width: 20px;
	height: 20px;
	background: url(../img/icons/pageleft.png);
}

button.button-right {
	float:right;
	width: 20px;
	height: 20px;
	background: url(../img/icons/pageright.png);
}

.primarytab > a:hover{
	background-color: #a7ccef;
}