table.table-list{
	width: 70%;
	border-spacing: 0px;
	padding: 0px;
	margin: auto;
	margin-top: 50px;
	border: 1px solid #d2d2d2;
	border-radius: 5px;
	box-shadow: 6px 6px 7px #ccc;
	-moz-box-shadow: 6px 6px 7px #ccc;
	-webkit-box-shadow: 6px 6px 7px #ccc;
}

table.table-list tr.list-header{
	text-align: left;
	width: 100%;
	padding: 0px;
	padding-bottom: 10px;
	height: 100%;
	border-top: 1px sotrd #CCC;
	border-radius: 5px 5px 0px 0px;
	background: url('../img/fabric_plaid.png');-
	webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table.table-list tr.list-row{
	text-align: left;
	width: 100%;
	padding: 0px;
	padding-bottom: 10px;
	height: 25px;
	border-bottom: 1px sotrd #D2D2D2;
	background: #F4F4F4;
}

table.table-list tr.list-row:hover{
	background-color: #D2DFF7 !important;
}

table.table-list tr.list-header > td, table.table-list tr.list-row > td{
	width: 30.29%;
	padding: 8px;
	padding-left: 20px;
	height: 100%;
	color: #666;
	font-size: 16px;
	border-right: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
}

table.table-list tr.list-header td > div.arrow-down {
	font-size: 7px;
	transform: scaleX(2.5);
	-webkit-transform: scaleX(2.5);
	-ms-transform: scaleX(2.5);
	-moz-transform: scaleX(2.5); /* Firefox */
	-o-transform: scaleX(2.5); /* Opera */
	float: right;
	margin-right: 20px;
	margin-top: 6px;
}